{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		<form id="form-id" method="post" action="/store/submitprod/">
			{% csrf_token %}
			{{ form.as_p }}
			<!-- <label for="itemname">Name of the item: </label>
			<input type="text" id="itemname" name="itemname"><br>
			<label for="price">Quote price: </label>
			<input type="number" id="price" name="price"><br>
			<label for="weight">Weight in kgs: </label>
			<input type="number" id="weight" name="weight"><br>

			<input type="file" id="itemimg" name="itemimg"><br> -->
			<button id="bt" type="submit">ADD ITEM</button>
		</form>
	</div>

{% endblock content %}
