<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>NEWS</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>

	<nav id="nav" class="navbar navbar-expand-lg ">
    <a id="txt" class="navbar-brand" href="/"><b style="color:#32F700;">ECON AGRO</b></a>
    <button class="navbar-toggler navbar-light bg-warning" style="background-color: #FF8F00;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a id="txt" style="color: #000000;" class="nav-link" href="/news/">NEWS <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a id="txt" style="color: #000000;" class="nav-link" href="/tips/"><b>TIPS </b><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a id="txt" style="color: #000000;" class="nav-link" href="/store/">STORE <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a id="txt" style="color: #000000;" class="nav-link" href="/disease/">DISEASE <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      {% if user.is_authenticated %}
      <div class="form-inline my-2 my-lg-0">
        <a href="#"class="btn btn-warning">{{request.user.username}}</a>
      </div>
      {% else %}
      {% endif %}
    </div>
  </nav>

<div class="tips">
<h1 style="text-align:center;font-family: 'Trebuchet MS', sans-serif;"><b style="color:black;">TIPS</b></h1>
<p style="font-family: 'Trebuchet MS', sans-serif;">India is and has been a "Krishi Pradhan" country. We have been blessed with some of the best farmers responsible for the bread and butter we get on our plates. More and more people are coming to terms with investing in organic farming and agriculture business but get confused with the process.

Farming as a profession is a venture that even corporate traders are considering as a career option. Even a beginner in farming can generate a good amount of revenue by following these basic steps. Read on for understanding profitability in the organic farming sector.
</p>

<p style="font-family: 'Trebuchet MS', sans-serif;">
<b>1- Communicate With Farmers</b><br>
The best way to get an insight knowledge on mixed farming and Kisan agriculture related stuff are to speak with the experts. Their years and decades of experience passing through generations have provided them with ample examples of the weather conditions, materials, types of equipment, and fertilisers that'll work best. Your local farmers will help you out with distribution patterns, get resources, and occasionally put you in touch with trusted vendors to give a kickstart to your business.

<br><b>2- Define Your Category</b><br>
There are countless types of farming to know and work with in the field. Any farming or agriculture business you begin should not blow out your finances and put you in a rut before you start. Some of the prominent ones that are trending in India are-

Organic Farming
Poultry Farming
Animal Farming
Dairy Farming
Biofloc fish Farming
Commercial Farming
Cattle Farming
Modern Farming
Polyhouse Farming
Duck Farming
Read and understand these to choose the amount of labor in exchange for equipment or vice versa is needed for the above categories.

<br><b>3- Know Your Soil</b><br>
India is a land that is blessed and flourished with a variety of soils covering acres of our states. Understanding the kind of soil in your city, state, or village will give you a clear idea of crop production and management. The prominent soils that are present in India are-

Alluvial Soil- Found in Narmada, Tapi, Eastern, and Western Coastal plains. This brown debris of soil is suited best for- rice, oilseeds, corn, sugarcane, wheat, etc.
Black/Regur Soil- Formed via the rocks of cretaceous lava, the black soil is found densely in Gujarat, Karnataka, Tamil Nadu, Madhya Pradesh, Maharashtra, Chhattisgarh, and Rajasthan. Being rich in iron and other minerals its best for cultivating- cotton, linseed, tobacco, castor, and citrus fruits.
Red and Black Soil- Usually found in Ladakh, Himalayas, Jammu & Kashmir, Assam, Rajasthan, and Gujarat. This soil is best suited for the production of- Apples, Walnuts, Almond, and Saffron(Kesar).
Alkaline/Saline Soil- Generally found in regions of Uttar Pradesh, Haryana, Punjab, Bihar, and Maharashtra. This soil is unfit for cultivation due to too much saltiness in it.
Red Soil- A deeply red-orangish soil that's evident from many regions of North to South and East to West. Enriched with several minerals it's best for farming- pulses, millets, tobacco, cotton, wheat, oilseeds, potato, and orchards.
Desert Soil- Deposited on land by the direction of winds, this soil is found in states of Rajasthan, Gujarat, Punjab, and Haryana. This soil is best for less water-consuming agricultural practices like- Guar, Fodder, Bajra, and pulses(Dal).
Laterite Soil- Covers the Western & North-Eastern Ghats, West Bengal, Chhattisgarh, and Jharkhand regions. Best suited for cultivating- Ragi, sugarcane(Ganna), cashew nuts(Kaju), and rice(Chawal).
Mountainous Soil- These are generally found in Himachal Pradesh, Himalayas, J & K, and parts of West Bengal. Being very fertile it's ideal to grow fruits, vegetables, organic herbs, rice, and wheat.
<br><b>4- Plan Smartly</b><br>
Having a full-fledged plan with execution and exit strategy in case of emergencies is always a smart move for any business. How to do this/that? Business goal/objective for the coming future, market conditions, competition products, strengths, and weaknesses, pros, or cons must be jotted down beforehand.

This method is also known as SWOT analysis. May it be agriculture or farming, having a swift business plan saves time and money.


Exclusive farming tips for beginners
<br><b>5- Invest In Best Farming Equipments</b><br>
Any farming business is incomplete without the correct agricultural machinery. You do not have to buy along with the first offer they come to you with. Scouting the market for better deals is always a smarter way to purchase.

Find out if you can avail of any discounts or are you missing out on any potential sellers in the process. The brands that specialise in farming equipment mass production in India are- Mahindra, Escorts Agri Machinery, HMT Limited, New Holland, John Deere India Pvt. Ltd, Sonalika, and Balwan Tractors to name a few.


<br><b>6- Recognise Your Target Customers</b><br>
As mentioned above, there are so many types of farming and agribusiness one can venture into. But your priority or niche should be defined beforehand during your planning. It doesn't matter if you want to get into meat and fish farming, raise cattle, grow organic vegetables, produce fresh or seasonal fruits, your research should be the key.

It's important to figure out all about your target consumers and sellers and be prepared for conditions- when everything's sold out when half the produce or crops have turned sour, and when none of the harvests has been sold. A sustainable customer acquiring plan never hurts anyone and it has to be done even before buying your first seed or fishpond.

<br><b>7- Be Reasonable With Goals</b><br>
When you are starting a business that requires you to begin mostly from scratch it's smarter to resonate. You cannot become a giant conglomerate or a mass producer cross country in three months. Farming and Agriculture is a dream that many have, but only a few dare to follow.

Your goal map or SWOT analysis should be filled with small-term goals, realistic approaches, and practical on-field applications for the best results. Agriculture and organic farming need upgrades and investments on an annual basis. From yielding to harvesting and selling some costs are pretty prominent, so before investing all your money on a single sector consider all the factors that'll require your funding.


Learning all about farming for beginners
<br><b>8- Buy Or Rent</b><br>
This is a question that has multiple opinions but has one definite answer that- it depends. The department of agriculture and rural development allows newly starting farmers or professionals special discounts and deals on pieces of equipment like- tractors, axes, shovels, pickaxes, hoe, hand sickle, and spades.

But on the other hand, it's much smarter to borrow or rent agriculture equipment. People occasionally venture into farming as it's a part of their family business, hence, acquiring products on-site easily. Using rented pieces of equipment like used farm tractors, old irrigation pipes or water sprinklers might be very helpful in saving money over time. Even buying seeds, fertilisers, and pesticides from known dealers at discount will prove best and cost-effective for your agriculture business.

<br><b>9- Begin Small</b><br>
Starting any business from scratch can be very overwhelming for a beginner in the agriculture department. Begin from the basics to ensure minimal loss and better outputs. Instead of putting all your financial funding into acres of the barren plots, rent or lease a single one to begin cultivation. This will give you the chance to experience your soil, growth capacity, and if the profit remains substantial throughout, go ahead and expand your business.

<br><b>10- Money Management</b><br>
Having track of your cash flow is a crucial process for any business. The Ministry of Agriculture and Farmers welfare provisions multiple facilities from paperless transactions to modern-day farming processes to make the job easier. Beginning from important chemicals, seeds, fertilisers, pesticides, fuel for equipment to utility bills, every element should be accounted for and maintained wisely.

How to do agriculture in India & other farming tips?
Newer technologies and officials helping farmers to take their business next level 
<br><b>11- Understand The Science</b><br>
Research and training might be the latter step forward in agricultural implements. But one must keep in mind the science behind this process. You must learn about every method that has been prevalent for ages along with the technologies that are taking over in the 21st century.

Do not shy away from contacting nutritionists, marketing consultants, crop consultants, veterinarians, or a financial advisor as they know their fields better than a beginner any day. Other provisions in India include- Kisan call center, vernacular(regional) based contacts available on Google, Kisan connect, Kisan Yojana, Kisan credit card scheme, and also kisan health card.

<br><b>12- Commit Wholeheartedly</b><br>
This is one of the reasons why most businesses go downhill. Lack of commitment especially in the agriculture sector can become a series of failures from bad crops, to lesser harvests and even rodent invasions on fields. Your engagement shouldn't just be around counting dollars, every single step from planting to seeding to selling should be closely supervised. Delegation ensures quality and helps in building loyal customers.

<br><b>13- Training & Research</b><br>
A powerful element in agribusiness and rural development lies in impeccable knowledge and execution. Reading books of genres regarding farming, agriculture, poultry, dairy, science, biotechnology are some of the things to start for research purposes.

Training can be both online and offline. Being one to one with farmers and helping them with your physical skills might help you acquire a tip or two. There are many WhatsApp groups, online helpline numbers, direct market consultants, certified trainers, or fertiliser experts easily accessible that makes the work easier.


How to do agriculture in India & other farming tips?
<br><b>14- Make Your Fertilisers/Pesticides</b><br>
Once you are clear on How to make the agriculture and organic farming model ready to go, you can easily discover or curate fertilisers and pesticides that'll suit your harvest better. As a potential farmer, you must know your soil, microorganisms, and ferns to help with its fertility.

The Indian Government has provisioned farmers with few pesticides namely- Panchgavya, Neemastram, Dasparini kashayam alongside other common ones like amino acids and Lactic acid bacteria. Curating your fertilisers and water testing helps you alleviate bad or ill practices in farming.

<br><b>15- Reuse Your Seeds</b><br>
Corporate or vendors apart from APMC markets have successfully manipulated and brainwashed farmers into believing that the same seeds couldn't be used more than once. This could affect your financial cash flow resulting in a cash crunch earlier into the business.

Good quality seed is yielding, receptive, and infection resistant. If the harvest is done with healthy fertilised soil, it develops its immunity and just becomes stronger with age. Visiting other farms or similar ones like your business might help you get insights and resources for a good dealer and distributor. One mustn't solely rely on organic seeds for farming.

<br><b>16- Irrigate</b><br>
Any sustainable agricultural practice requires a good level of irrigation at regular intervals. The modern way to begin it is the drip irrigation system. A tubular system with tiny pits in between can be placed near the base root of your harvest, hence, incorporating accuracy in the watering front.

This also helps you in saving water by not wasting oodles of extra amount or losing it all quickly due to the Indian heat. As it would be machine-controlled, the supervision becomes easier.


Checkout the farming tips for beginners along with agriculture tips for better agribusiness.
<br><b>17- Maintain Proper Drainage</b><br>
Drainage systems in any field or farm decide the compatibility of the soil with daily water consumption. If you aren't managing your drainage systems regularly, the results won't be quite as promising. You could end up losing your crops via overwatering in a particular area or drying out a particular section of your field. Hence, drainage management daily helps you maintain balance.

<br><b>18- Climate Management</b><br>
India is the only country in the world that offers four seasons i.e. Summer, Monsoon, Winter, and Autumn. Understanding your horticulture practices and climate functions of your region will help you make smarter decisions with your production. Which season will yield profitable crops for small farms would help you in analysing your organisation process a step further to success.

<br><b>19- Learn From Your Mistakes</b><br>
If you are an urban person who hasn't had much luck in the village-oriented agriculture business then do not hold back. Making mistakes is a part and parcel of every venture. Understand, improvise, and overcome your obstacles to make your agriculture and organic farming successful.
</p>

<h1 style="margin-left:45%;font-family: 'Trebuchet MS', sans-serif;">FAQs</h1>
<div class="faq">
<b>Q1. How do I start my own agricultural business?</b>
<p><b>Ans-</b>These are the important requirements answering the question of how to start your own Agribusiness:

Researching your Market
Creating a solid business plan
Manage your funds
Understand the need to abide by the laws and regulations
Acquire all needed business licenses
Register your business officially
Finish final formalities & arrangements
</p>
</div>
<div class="faq">
<b>Q2. Which agriculture is most profitable?</b>
<p><b>Ans-</b>These are the top 10 Most Profitable Livestock Farming Business Ideas:

Hydroponic Retail Store
Poultry Farming
Fertiliser Distribution Business
Mushroom Farming Business
Snail Farming
Vermicompost Organic Fertiliser Production
Dried Flower Business
Hydroponic Retail Store
Organic Farm Green House
</p>
</div>
<div class="faq">
<b>Q3. How do I start a small profitable farm?</b>
<p><b>Ans- </b>These are some of the essential farming tips for beginners:

Impeccable Market Research
Solid Business Planning
Choosing the perfect crop
Starting Small
Exploring Diversification
Completing Documentation
Get Additional Knowledge
</p>
</div>
<div class="faq">
<b>Q4. What is the most profitable crop for small farm?</b>
<p><b>Ans- </b>These are some of the best Cash Crops for Small Farm Profit:

Christmas Trees
Garlic
Varieties of Mushrooms
Bamboo
Lavender
</p>
</div>
<div class="faq">
<b>Q5. What are the 4 types of agriculture?</b>
<p><b>Ans- </b>These are the types of agriculture prominent in India:

Mediterranean Agriculture
Commercial Grain Farming
Livestock Ranching
Nomadic Herding
Shifting Cultivation
Commercial Plantations
</p>
</div>
<div class="faq">
<b>Q6. What is the easiest crop to farm?</b>
<p><b>Ans- </b>These are some of the easy crops to grow from seed:

Lettuce
Beans
Sunflowers
Sweet Potatoes
Turnips
Radishes
Peas
Pumpkins and other Winter Squash
</p>
</div>
<div class="faq">
<b>Q7. Which are the most profitable plants to grow?</b>
<p><b>Ans- </b>Below is a list of some of the most profitable plants to grow:

Flowers
Bamboo
Ground Covers
Ginseng
Herbs
Mushrooms
Ornamental Grasses
Trees & Shrubs landscaping
</p>
</div>
<div class="faq">
<b>Q8. Is agriculture a good investment?</b>
<p><b>Ans- </b>Yes. Agricultural investments are income-producing asset. They provide a hedge against inflation and is looked upon as a diversified portfolio. It's not relevant to the stock market and produces solid returns compared to other market assets.
</p>
<b>Q. Which vegetable farming is more profitable?</b>
<p><b>Ans- </b>Tomato cultivation is the best vegetable and has proved profitable more than thrice a year. It needs a tropical mix of cool and warm climates, hence, perfect in India.
</p>
</div>
<div class="faq">
<b>Q9. What are 3 major areas of agriculture?</b>
<p><b>Ans- </b>The major areas of agriculture are:

Agricultural Sciences
Agricultural Economics
Agricultural Technology and Management
</p>
</div>
<div class="faq">
<b>Q10. What are the major types of farming?</b>
<p><b>Ans- </b>There are 8 major types of farming in India:
</p>
Mixed and Multiple Agriculture
Terrace Cultivation
Dry Agriculture
Intensive Farming
Crop Rotation
Subsistence Farming
Shifting Agriculture
Plantation Agriculture
</p>
</div>
<div class="faq">
<b>Q11. What are the easiest farm animals to raise?</b>
<p><b>Ans- </b>These are some of the best livestock raising that can ensure good profits:

Pigs
Cows
Chickens
Goats
Rabbits
Honeybees
</p>
</div>
<div class="faq">
<b>Q12. Is agriculture good for Career?</b>
<p><b>Ans- </b>Agriculture is a good source of employment across the country. It is one of the largest industries in the world and plays a vital role in the growth of the Indian economy. It promotes the quality of food and farming practices, hence, promoting, agricultural-food industry.
</p>
</div>
<div class="faq">
<b>Q13. What is the hardest crop to grow?</b>
<p><b>Ans- </b>Wasabi is the hardest crop to grow. If the nutrient composition isn't intact or the weather comprises of too much humidity, the cultivation could be damaged. Wasabi is very susceptible to bugs and diseases when grown on larger scales.
</p>
</div>
</div>
<style type="text/css">

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	
}
body
{
	background: -webkit-linear-gradient(left, rgb(58, 230, 6), rgb(77, 230, 6), rgb(114, 226, 9), rgb(21, 177, 16));
	height: cover;
}
.faq{
	display:flex;
	flex-direction: column;
	/*background:rgb(2, 54, 24);*/
  background-color: white;
	color:black;
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
  border: 3px solid black;
	border-radius:10px;
	padding:10px 10px 10px 10px;
	margin-bottom:10px;
  font-family: 'Trebuchet MS', sans-serif;
  width:90%;
  margin-left:5%;

}

.faq:hover
{
  transform: scale(1.01);
}

.tips{
	display: flex;
	flex-direction: column;
	padding:20px 20px 20px 20px;
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
}
	#nav{
		background-color:white;
    font-family: 'Trebuchet MS', sans-serif;
	}
	#txt{
		color:black;
		font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
	}

	.inner{
		width:400px;
		margin-top:20px;
		display:flex;
		border:5px solid black;
		flex-flow: column;
		align-items: center;
		
	}
	
	#navbar-toggler
	{
		background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
	}

.mainform
{
	margin-top: 10%;
}

.centerform {
	padding-top: 10px;
	padding-bottom: 10px;
  width:80%;
  height:80%;
  margin: auto;
  background: white;
  color: orange;
  border:5px solid black;
  /*padding: 10px;*/
  border-radius: 0%;
	}
.formcontent
{
	margin-left:32%;
}
	b{
		color:black;
	}

</style>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>
</html>